{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Contact Us
                </h1>
                <h3 style="text-align: center;">We're here to help!.</span></h3>
                <h3> For all enquiries please contact us at </h3>
                <br>
                <h3>EMAIL:</he>
                <h4>store@inkthreadable.com</h4>
                <ul class="list-unstyled list-inline social-networks">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook page (opens in new tab)"><i class="fab fa-facebook"></i></a>
                    </li>
                </ul>
                
                <div class="my-5">
                    <h4>
                        <a href="{% url 'home' %}" 
                            class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                                Return to Home Page
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}