html {
    height: 100%;
}

body {
    background: url('/media/hero-image-4.jpeg')  no-repeat center center;
    background-size: cover;
    height: calc(110vh - 164px);
    color: #555;
    font-family: 'Lato';

}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}



/* buttons */
.his-her-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.his-her-button:hover,
.his-her-button:active,
.his-her-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* ----------------------------- */
.logo-font {
    text-transform: uppercase;
    color: #000;
}

.main-logo-link {
    width: fit-content;
}
.hero-text {
    color: white;
    
    

    
}
.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* -------------------------------- Media Queries */

/* larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 150px;
    }
}
/* pad the top when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

