<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link nav-text mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Store
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'view_cart' %}" class="dropdown-item">View Shopping Cart</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'add_product' %}" class="dropdown-item">Add Product</a>
                <a href="{% url 'wishlist'  %}" class="dropdown-item">My Wishlist</a>
            </div>
        </li>
        

        

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link nav-text" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'about' %}" class="dropdown-item">What we do!</a>
                <a href="{% url 'contact' %}" class="dropdown-item">Get in touch</a>
                
            </div>
        </li>
    </ul>
</div>